.scene,
.a3d {
  display: grid;
}

.scene {
  overflow: hidden;
  perspective: 35em;
  mask: linear-gradient(90deg, #0000, red 20% 80%, #0000);
}

.a3d {
  place-self: center;
  transform-style: preserve-3d;
  animation: ry 32s linear infinite;
}

@keyframes ry {
  to {
    rotate: y 1turn;
  }
}

.card {
  --w: 17.5em;
  --ba: 1turn/var(--n);
  grid-area: 1/1;
  width: var(--w);
  aspect-ratio: 7/10;
  object-fit: cover;
  border-radius: 1.5em;
  backface-visibility: hidden;
  transform: rotatey(calc(var(--i) * var(--ba))) translatez(calc(-1 * (0.5 * var(--w) + 0.5em) / tan(0.5 * var(--ba))));
}

@media (prefers-reduced-motion: reduce) {
  .a3d {
    animation-duration: 128s;
  }
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #fce7f3, #fbcfe8, #f9a8d4);
  display: grid;
  place-items: center;
  height: 100vh;
  overflow: hidden;
}

.scene {
  width: 100%;
  height: 100%;
  align-content: center;
  margin-bottom: 170px;
}

.valentine-header {
  position: fixed;
  top: 9%;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 20;
  pointer-events: none;
}

.valentine-text-container {
  position: relative;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-msg {
  position: absolute;
  font-family: "Pacifico", cursive;
  font-size: 1.8rem;
  color: #d32f2f;
  opacity: 0;
  animation: fadeText 10s infinite;
  width: 100%;
  text-shadow: 0px 0px 5px rgba(255, 243, 237, 0.9);
}

.text-msg:nth-child(1) {
  animation-delay: 0s;
}

.text-msg:nth-child(2) {
  animation-delay: 2s;
}

.text-msg:nth-child(3) {
  animation-delay: 4s;
}

.text-msg:nth-child(4) {
  animation-delay: 6s;
}

.text-msg:nth-child(5) {
  animation-delay: 8s;
}

@keyframes fadeText {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  5% {
    opacity: 1;
    transform: translateY(0);
  }

  20% {
    opacity: 1;
  }

  25% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 0;
  }
}

.valentine-footer {
  position: fixed;
  bottom: 2%;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 20;
  pointer-events: none;
}

.valentine-footer img {
  width: 400px;
  animation: heartbeat 1.5s infinite ease-in-out;
}